PORT=3000
FRONTEND_URL=http://localhost:3001
COINSBUY_BASE_URL=https://v3.api-sandbox.coinsbuy.com
COINSBUY_CLIENT_ID=601331105048191560
COINSBUY_CLIENT_SECRET=a2Xaf30mdE5mLnLe78A0lEgwLyQJ6OfAn0UlWemdgadSKkIlYLOXtviW0l7mBEoB
